:root {

    /* colors */
    --theme-clr: #213555;
    --accent-clr: #E5D283;
    --accent2-clr: #4F709C;
    --bg-clr: #F0F0F0;
    --text-clr: grey;  
    --h3-clr: rgb(84, 84, 84);

    /* filters */
    --theme-filter: brightness(0) saturate(100%) invert(16%) sepia(64%) saturate(568%) hue-rotate(178deg) brightness(95%) contrast(91%);
    --white-filter: invert(95%) sepia(22%) saturate(116%) hue-rotate(175deg) brightness(100%) contrast(98%);
    /* --accent-filter: brightness(0) saturate(100%) invert(45%) sepia(13%) saturate(746%) hue-rotate(176deg) brightness(97%) contrast(90%); */
    --accent-filter: brightness(0) saturate(100%) invert(17%) sepia(42%) saturate(786%) hue-rotate(178deg) brightness(94%) contrast(92%);
    /* --accent-filter: invert(43%) sepia(71%) saturate(5184%) hue-rotate(179deg) brightness(92%) contrast(98%); */
    --accent2-filter: brightness(0) saturate(100%) invert(41%) sepia(11%) saturate(1899%) hue-rotate(175deg) brightness(97%) contrast(85%);
    --bg-filter: invert(100%) sepia(14%) saturate(18%) hue-rotate(321deg) brightness(112%) contrast(88%);

    /* box shadow */
    --thick-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --light-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: .5px solid red; */
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}

body, html {
    height: 99vh;
}

/* icon sizes */

.icon-small {
    height: 1.5rem;
    width: 1.5rem;
}

.icon-big {
    height: 2rem;
    width: 2rem
}

.icon-bigger {
    height: 3rem;
    width: 3rem;
}

/* button transparent for icon */

.icon-button {
    background-color: transparent;
    border: none;
}

.icon-button:hover {
    cursor: pointer;
}

.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: [left-most] auto [left-mid] 1fr [column-end];
    grid-template-rows: [top-most] auto [mid-mid] 8fr [row-end];
    /* grid-template-areas: 
    [top-most] 2fr 
    [mid-mid] 8fr 
    [row-end]
    /
    [left-most] 1fr 
    [left-mid] 5fr
    [column-end]; */
}
/* BOARD */

.dashboard {
    grid-area: top-most / left-most / row-end / left-mid;
    display: grid;
    background-color:var(--theme-clr);
    grid-template-rows: auto;
    align-content: start;
    row-gap: 3rem;
}

/* dashboard logo */

.dashboard-logo {
    display: flex;
    justify-content: center;
}


.white-filter {
    filter: var(--white-filter)
}
.accent-filter {
    filter: var(--accent-filter);
    
}
.accent2-filter {
    filter: var(--accent2-filter)
}

.bg-filter {
    filter:var(--bg-filter)
}

.theme-filter {
    filter: var(--theme-filter)
}


.dashboard-logo h1 {
    display: none;
}


/* first section */
.sections-1 {
    display: grid;
    row-gap: 7px;

}



/* second section */
.sections-2 {
    display: grid;
    row-gap: 7px;
}

.sections-1 div,
.sections-2 div {
    display: flex;
    justify-content: center;
}

.sections-1 div h3,
.sections-2 div h3 {
    /* hides logo names for mobile layout */
    display: none;
}

/* icons */



/*  */

.header {
    display: grid;
    grid-area: top-most / left-mid / mid-mid / column-end;
    /* only 2 rows for mobile! */
    box-shadow: var(--thick-box-shadow);
}


/* account name section */
.account-name-nav {
    grid-row: 1 / 2;
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px; 
}


.bell-pfp {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.search-bar-mob {
    display: flex;
    align-items: center;
}

.search-bar-mob input {
    display: none;
}

img[alt="notif-bell"] {
    height: 1.5rem;
    width: 1.5rem;
}

img[alt="pfp"] {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50px;
}



.search-bar-mob img {
    height: 2rem;
    width: 2rem;
}


.search-bar-desk {
    display: none;
    /* search bar moved to top because of mobile layout! */
}



.user-greet {
    display: none;
}

.search-bar-mob,
.search-bar-desk {
    grid-row: 2/3;
    grid-column: 1/2;
}
/*  ACTION BAR */
.greeting-row {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    justify-content: space-around;
    padding: 12px 0px;
}

.greeting-row button {
    padding: 7px 20px;
    border-radius: 18px;
    background-color: var(--accent-clr);
    box-shadow: var(--light-box-shadow);
    font-weight: 600;
    border: none;
    color: white;
}



/*  */

.main {
    display: grid;
    background-color: var(--bg-clr);
    padding: 20px;
    grid-gap: 20px;
}
.projects-grid-container {
    display: grid;
    gap: 20px;
    align-items: start;
    flex: 1;
}

/* project  */

.projects {
    grid-template-rows: auto 1fr;
    width: 100%;
    display: flex; 
    flex-direction: column;
    row-gap: 10px;
}

.project-card {
    padding: 20px;
    box-shadow: var(--thick-box-shadow);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 3px solid var(--accent-clr);
    row-gap: 20px;
    height: 100%
}


article {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
h2 {
    font-weight: 600;
    color: var(--theme-clr)
}

h3 {
    font-weight: 400;
}

article h3 {
    color: var(--h3-clr);
}

p {
    color: var(--text-clr);
    text-align: left;
    font-size: 14px;
}

.project-card article p {
    overflow: hidden;
}

.card-btns {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.card-btns button {

}

/* announcement card */
.announcements, .trending{
    grid-template-rows: auto auto;
    /* display: grid; */
    display: flex; 
    flex-direction: column;
    
    gap: 10px;
}

.announcements {
    grid-template
}
.announcement-card,
.trending-card {
    box-shadow: var(--thick-box-shadow);
    padding: 20px;
    border-radius: 10px;
    row-gap: 10px;
    width: min(,300px,100%);
    background-color: white;     
    display: flex;
    flex-direction: column;

}

/* trending card */

.trending-profiles {
    display: flex;

}

/* DESKTOP */


@media only screen and (min-width:700px) {

/* main container: 2 rows, 2 columns */
    
/* dashboard: 
    display icon names  
    */
    
    .dashboard {
        padding-right: 40px;
    }

    .sections-1 div,
    .sections-2 div{
        place-content: center flex-start;
        padding: 5px 20px;
        column-gap: 15px;
        
    }
    

    
    .sections-1 div h3,
    .sections-2 div h3 {
        display: block;
        color: var(--bg-clr);
        
    } 
    
    .dashboard-logo {
        display: flex;
        justify-content: flex-start;
        padding: 20px 12px 0px 12px;  
        position: relative;
    }
    

    .dashboard-logo h1 {
        position: absolute;
        display: block;
        color: var(--bg-clr);
        font-size: 24px;
        top: 25px;
        left: 70px;
        font-style: italic;
    }
    
    
    
/* header:
    2 main rows
        1st row:
            2 columns (search bar, pfp w/ bell) 
        2nd row:
            flex container
            action buttons on right, greeting section on left*/
    .account-name-nav div img {
        /* enlarge */
        height: 2rem;
        width: 2rem;
    }
    .search-bar-mob input {
        display: block;
        width: min(100%,500px);
        border: 2px solid white;
        background-color: rgb(237, 237, 237);
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        transition: all 0.3s;
        color: var(--text-clr)
    }
    
     
    
    .search-bar-mob input:focus {
        outline-style: none;
        border: 2px solid grey;
    }
    
    .search-bar-mob {
        column-gap: 5px;
        flex: 1;
        display: flex;
    }
    
    .account-name-nav {
        column-gap: 30px;
        padding: 20px 20px 0px 20px;
    }

    /* 2nd row */

    .user-greet {
        display: flex;
        column-gap: 20px;
        align-items: center;
    }
    
    .user-greet img {
        height: 4rem;
        width: 4rem;
        border-radius: 50px;
        
    }
    
    .greeting-row {
       padding: 20px 30px;
       place-content: center space-between;
    }    
    
    .action-buttons {
        display: flex;
        column-gap: 20px;  
        align-items: center;
    }
    .action-buttons button {
        height: 40px;
    }
    
/* main:
 *
    2 columns: 
        1st column:
            display all project cards
            use (auto-fit, minmax(px,1fr))
        2nd column:
            announcements and trendings (flex container column) 
            */


    .main {
        grid-template-columns: 4fr 1fr;
    }


    .projects {
        grid-column: 1/2;
    } 
    
    .announcements {
        grid-column: 2/3;
    }

    .trending {
        grid-column: 2/3;
    }
    
    .projects-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
        
    }

    .outer-main {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    

    
}
